doctype html
html
  head
    meta(charset='utf-8')
    title HANK
    link(rel='shortcut icon', href='/favicon.png')

  body
    
    .header.panel
      h1 [ hank ] <small>by pierre.cx</small>
      button#stress(title='$ cat /dev/zero > /dev/null') Stress
      button#unstress(title='$ killall cat') Unstress
    
    .charts
      .chart-container.chart-container-lg
        #loadAvgChart.chart
      .chart-container.chart-container-sm
        #memoryChart.chart
    
    #log.panel
      p -----------------------------------------------------
      p Hank detected that the server has #{totalCPUs} cores
      p He will alert you when the CPU load average exceeds #{maxLoad}
      p -----------------------------------------------------
    
    script(src='bundle.js')
